.container {
  display: flex;
  justify-content: right;
  margin-right: 150px;
}
.content {
  display: block;
  text-align: center;
  position: right;
  max-width: 560px;
}
.blocktext {
  text-align: justify;
  margin-bottom: 40px;
}
@media (max-width: 860px) {
  .container {
    margin-right: 0px;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }
}