---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.container {
				display: flex;
				justify-content: right;
				margin-right: 150px;
			}
			.content {
				display: block;
				text-align: center;
				position: right;
				max-width: 560px;
			}
			.blocktext {
				text-align: justify;
				margin-bottom: 40px;
			}
			@media (max-width: 860px) {
				.container {
					margin-right: 0px;
					justify-content: center;
					margin-left: 40px;
					margin-right: 40px;
				}
			}
		</style>
	</head>

	<body>
			<Header title={SITE_TITLE} />
			<main>
				<img src="about/about-me.jpeg" alt="Me" />
				<div class="container">
					<div class="content">
						<h1>About Me</h1>
						<p class="blocktext">
							International illustrator, usually working out of Berlin. 
							Creative thinker by compassion, covering fashion illustration, 
							magazine and book illustration and also live illustration events. 
							Analog and digital. Line and colour. Details and simplicity. 
							Casual and glam. Individual art as well as overall design concept. 
							Transform complex content into beautiful illustration. 
							Communicate in English, German, Russian, and Spanish.
						</p>
					</div>
				</div>
			</main>
			<Footer />
	</body>
</html>